fastapi
uvicorn
numpy
scipy
pydantic
scapy
openpyxl
joblib
threadpoolctl
colorama
pydub  # Alternatywa dla playsound
ffmpeg  # Potrzebne dla pydub
speechrecognition
gtts
requests
prometheus_client
selenium
python-dotenv
